@import "src/styles";

#route-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #{map_get($mat-dark-theme-background, 'app-bar')};
}

#form-container {
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
}

#results-container {
  height: 100%;
}

#control-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  vertical-align: center;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#control-inner-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

#search-button-container {
  padding: 0 20px;
  box-sizing: border-box;
  button {
    width: 100%;
  }
}

#date-container {
  //width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-log {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
}



