<form [formGroup]="form" (submit)="onSubmit()"
      class="glass-box" id="form-container">
    <div id="signup-container">
      <div class="input-container">
        <mat-form-field class="input" appearance="outline">
          <mat-label>name</mat-label>
          <input matInput type="text" formControlName="name" required>
  <!--        <mat-hint>enter your full name</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input" appearance="outline">
          <mat-label>username</mat-label>
          <input matInput type="text" formControlName="username" required>
  <!--        <mat-hint>enter your intended username</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input" appearance="outline">
          <mat-label>password</mat-label>
          <input matInput type="password" formControlName="password" required>
  <!--        <mat-hint>enter your password</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input" appearance="outline">
          <mat-label>email</mat-label>
          <input matInput type="email" formControlName="email" required>
  <!--        <mat-hint>enter your available email</mat-hint>-->
        </mat-form-field>
      </div>
      <button type="submit" id="submit-button" color="primary" mat-raised-button>signup</button>
      <button mat-button color="warn" type="button" (click)="formType.emit('login')">
        already have an account?
      </button>
    </div>
</form>
