<div id="page-container">
  <div id="side-img">
    <h1 id="title">welcome</h1>
    <div id="dialogue-container">
      <h2 id="panel-title" >{{panelDialogue}}</h2>
    </div>
  </div>
  <div id="form-panel-container">
    <div id="button-container">
      <button mat-stroked-button class="account-button" (click)="switchPanel(true)">login</button>
      <button mat-stroked-button class="account-button" (click)="switchPanel(false)">signup</button>
    </div>
    <h3 id="error-dialogue">{{errorDialogue}}</h3>
    <div id="form-container">
      <app-signup *ngIf="!flag else loginComponent" (submitSignup)="submitForms($event)"></app-signup>
      <ng-template #loginComponent>
        <app-login (submitLogin)="submitForms($event)"></app-login>
      </ng-template>
    </div>
  </div>
</div>

