<mat-form-field appearance="outline">
  <mat-label>{{type}}</mat-label>
  <mat-select required [formControl]="cityCtrl" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="cityFilterCtrl"
                             noEntriesFoundLabel="no {{type}} found" placeholderLabel="find {{type}}">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
      {{city?.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
