<div id="container">
  <div id="result-container">
    <input type="text" readonly
           placeholder="select your {{dialogue}}" id="result-input"
           (click)="showList($event)" cdkOverlayOrigin
           #trigger="cdkOverlayOrigin">
  </div>
</div>
<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayHasBackdrop]="true"
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isUserDropdownOpen"
             (detach)="isUserDropdownOpen = false"
             (backdropClick)="isUserDropdownOpen = false"
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             [cdkConnectedOverlayPositions]="overlayPositionPairs">
  <div id="option-container" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
    <div id="searchbox-container">
      <input type="text" id="searchbox" (keyup)="searchCity()" #search_box>
    </div>
    <div id="scrollable-optionbox">
      <div *ngFor="let city of results" class="cities" (click)="selectCity(city?.name, $event)">
        {{city?.name}}
      </div>
    </div>
  </div>
</ng-template>
