* {
  font-family: Calibri;
}

:host{
  width: 200px;
  height: 50px;
  * {
    font-size: 18px;
  }
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

input {
  border-radius: 5px;
  border: none;
  outline: 2px solid #a1a0a0;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
  background-color: #cececf;
}

#result-input {
  width: 100%;
  height: 100%;
}

#result-container {
  height: 100%;
  width: 100%;
}

#searchbox {
  width: 80%;
}

#option-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  box-sizing: border-box;
  height: 150px;
  padding: 5px;
  background-color: #d9d7d7;
  border-radius: 5px;
  outline: 2px solid #6e6e6e;
}

#scrollable-optionbox{
  height: 120px;
  overflow-y: scroll;
}

#searchbox-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 35px;
  margin-bottom: 5px;
}


.cities {
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.cities:hover {
  background-color: #a8a8a8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
