@import "src/assets/sassStuff/mixins";
@import "src/styles";

@mixin addHorizontalAutoMargins($left, $right){
  margin: {
    left: $left;
    right: $right;
  };
}

@mixin setHorizontalPositions($left, $right){
  left:$left;
  right:$right;
}

@mixin setDimensions($height: auto, $width: auto){
  width: $width;
  height: $height;
}

.mat-drawer-container {
  height: 100%;
}

.box {
  border-radius: 15px;
}

#page-container {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color: #{map_get($mat-dark-theme-background, 'background')};
  @include setDimensions(100%);
  @include setFlexDisplay(space-between, flex, row);
}

#button-bar {
  position: relative;
  margin-right: 10px;
  height: 100%;
  width: 70px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  background-color: #{map_get($mat-dark-theme-background, 'app-bar')};
}

#permission-container {
  display: flex;
  align-items: center;
  height: 100%;
}

#module-container {
  background-color: #{map_get($mat-dark-theme-background, 'app-bar')};
  overflow: hidden;
  text-align: center;
  @include setDimensions(100%, 100%);
}

img {
  filter: invert(100%);
  display: inline;
  @include setDimensions(40px, 40px);
}

strong {
  font-family: "JetBrains Mono";
  padding: 5px;
}

.button-wrapper {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}


.button {
  position: absolute;
  max-width: 50px;
  outline: none;
  border-radius: 15px;
  border: none;
  display: flex;
  color: white;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  overflow: hidden;
  transition: all .5s ease-in-out;
  background-color: #{map_get($mat-dark-theme-background, 'app-bar')};
}

.button:hover{
  max-width: 230px;
}

#menu-button {
  position: absolute;
  background-color: #{map_get($mat-dark-theme-background, 'raised-button')};
  left: 30px;
  top: 30px;
  border-radius: 15px;
  padding: 10px;
  min-width: 56px !important;
  box-sizing: border-box;
  img {
    width: 30px;
    height: 30px;
  }
}

.text {
  color: #{$light-primary-text};
  white-space: nowrap;
}

#logout {
  color: var(--warn-color);
  padding: 5px;
  img {
    filter: brightness(0) saturate(100%) invert(58%) sepia(54%)
    saturate(2178%) hue-rotate(326deg) brightness(100%) contrast(90%);
  }
}

@media only screen and (max-width: 600px) {

  #button-bar {
    width: 246px;
  }

  #permission-container {
    display: flex;
    flex-direction: column;
    .button {
      margin-bottom: 10px;
    }
  }

  .button {
    position: relative;
    max-width: 230px;
  }

}
