<div class="account-form-container" class="account-form">
  <form [formGroup]="loginGroup" (submit)="onLogin()">
    <div id="login-container" class="form-cont">
      <div class="input-container">
        <mat-form-field class="input">
          <input matInput type="text" formControlName="username" required placeholder="username">
          <mat-hint>enter your account's username</mat-hint>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="input">
          <input matInput type="password" formControlName="password" required placeholder="password">
          <mat-hint>enter your account's password</mat-hint>
        </mat-form-field>
      </div>
      <button type="submit" id="submit-button" color="accent" mat-stroked-button>login</button>
    </div>
  </form>
</div>
