@import "src/assets/sassStuff/mixins";

#form-container {
  width: 360px;
  display: flex;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  //background-color: rgba(85, 83, 83, 0.45) !important;
  background-color: #74747470;
}
