@import "src/styles";

#container {
  height: 100%;
  background-image: url("../../assets/home-page-cover.png");
  background-size: cover;
  background-position: center;
}

#context {
  height: 100%;
  display: flex;
  animation: backBlur 1s .5s ease-in-out forwards;
}

#account {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#welcome-text {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  animation: textFade 1s .5s ease-in-out alternate;
  span {
    color: var(--text-primary-color);
    width: 800px;
    font-size: 100px;
    line-height: 100px;
  }
}

#form-container {
  position: relative;
  animation: formFade 1s .5s ease-in-out alternate;
}

@keyframes backBlur {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(2px);
  }
}

@keyframes formFade {
  from {
    opacity: 0;
    top: -30px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes textFade {
  from {
    opacity: 0;
    left: -20px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
