<div id="container">
  <div id="context">
    <div id="account">
      <div id="form-container">
        <app-signup *ngIf="accountFormType == 'signup'"
                    (formType)="accountFormType = $event"
                    (submitForm)="onFormSubmit('/api/account/signup', $event)">
        </app-signup>
        <app-login *ngIf="accountFormType == 'login'"
                   (formType)="accountFormType = $event"
                   (submitForm)="onFormSubmit('/api/account/login', $event)">
        </app-login>
      </div>
    </div>
    <div id="welcome-text">
      <span>
        welcome to the<br>ticket reservation system
      </span>
    </div>
  </div>
</div>
