<div id="background">
</div>
<div id="context-container">
  <div id="button-container">
    <button class="account-button"><a routerLink="/account" [queryParams]="{ f: 'true'}" class="account-link">login</a></button>
    <button class="account-button"><a routerLink="/account" [queryParams]="{ f: 'false'}" class="account-link">signup</a></button>
  </div>
  <div id="title-div-container">
    <div id="title-container">
      <h2>welcome to our ticket-reservation system :)</h2>
    </div>
  </div>
</div>
